.temperature-card-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: stretch;
  text-align: center;
  background: white;

  box-shadow: 3px 3px 3px 0px #33333310;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
}

.temperature-card-city {
  color: #737c84;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}

.temperature-card-loading {
  justify-self: center;
  height: 220px;
}

.temperature-card-footer {
  color: #b4b4b4;
  background: #f1f1f150;
  font-size: 10px;
  padding: 12px;
}

.item-0 {
  grid-area: city0;
}

.item-1 {
  grid-area: city1;
}

.item-2 {
  grid-area: city2;
}
