.try-again-container {
  display: grid;
  height: 220px;

  label {
    color: #ed1946;
    align-self: flex-end;
    padding: 0 0 20px;
  }

  button {
    color: #737c84;
    font-weight: bold;
    background: white;
    border: 2px solid #737c84;
    height: 42px;
    cursor: pointer;
    margin: 0 75px;
    border-radius: 30px;
  }
}
