.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background: white;

  img {
    width: 160px;
  }
}
