.details-container {
  display: grid;
  grid-template-columns: auto auto;
  background: #f1f1f150;
  padding: 16px 0 0;
}

.details-temp {
  display: flex;
  justify-content: center;
  font-size: 90px;
  padding: 20px 0;

  :last-child {
    font-size: 48px;
    padding: 14px 0;
  }
}

.details-temp-orange {
  color: #ff9632;
}

.details-temp-blue {
  color: #69a3ff;
}

.details-temp-red {
  color: #ed1946;
}

.details-description {
  display: grid;
  gap: 4px;
  color: #737c84;
  font-size: 16px;
}

.details-description-title {
  color: #b4b4b4;
  font-size: 12px;
}

.details-description-unit {
  font-size: 12px;
}
