.temperature-list {
  display: grid;
  gap: 48px;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;

  background: #f1f1f1;
  height: 800px;
  margin: 0;
  padding: 20px 0;
  grid-template-areas: "city0 city1 city2";

  @media (max-width: 767px) {
    grid-template-columns: auto;
    grid-template-areas:
      "city1"
      "city0"
      "city2";
  }
}
